.p,a{
	border-style: solid;
	margin: 30px;
	width: 100px;
	display: inline-block;
}

.wrapper{
	background-color:beige ;
	max-width: 960px;
	margin: auto;
	padding: 30px;
}

img{
	float: left;
	margin: 20px;
}